.objects__container {
  font-display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.objects__container h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 3rem;
  color: var(--color-text-main);
}

.object__card {
  background: var(--color-text-light);
  border-radius: 8px;
  margin: 10px;
  padding: 15px;
  text-align: center;
  height: 400px;
}

.object__img {
  max-width: 100%;
  max-height: 120px;   
  border-radius: 4px;
  object-fit: contain;  
  margin: 0 auto;  
  display: block;
}

.object__card p {
  font-size: 14px;
  color: var(--color-text-main);
  margin: 10px 0;
}

.pickup__info {
  font-size: 12px;
  color: var(--color-text-light);
}

.react-multi-carousel-track {
  margin-bottom: 2rem;
  }
